
nav {
    display: flex;
    height: 5vh;
    justify-content: space-between;
    background-color: #fff;


}
.corazon {
    font-size: 30px;
    font-weight: bolder;
    margin: 0px 5px;
    height: "initial";
}
.corazon img {
    height: 30px;
    background-color: #fff;
    border-radius: 25px;
    

}
.login {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100px;
    text-align: center;
    padding: 3px;
    border-radius: 25px;
    box-shadow: 1px black;
    height: 20px;
}

#header {
    height: 120vh;
    background-image: url('./annie-spratt-wgivdx9dBdQ-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.hero {
    height: 109vh;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}


.brand_title {
    font-size: 53px;
}
.brand_slogan {
    font-size: 24px;
}
.brand_slogan .brand_title {
    padding-left: 20px;
}
a {
    text-decoration: none;

}
nav {
    padding-bottom: 15px;
}
.text-center {
    text-align: center;
    border-radius: 40px solid black;
    background-color: aliceblue;

}
.computers {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    margin: 10px;

}
.computer {
    padding: 0px 10px;
    background: white;
    display: flex;
    flex-direction: space-between;
    
}
.computer img {
    display: flex;
    height: 300px;
    width: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    transition: all 0.5s;
}

.transit:hover {
    transform: scale(1.1);

}


.btn {
    background-color: rgb(10, 8, 6);
    color: white;
    font-weight: bolder;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 18px;
    transition: all 0.5s;
    width: 200px;

}
.btn:hover {
    background-color: white;
    color:black;
    border: 3px solid black;
    text-align: center;
}
.mango {
    display: flex;
    flex-direction: column;
    margin-left: 95px;
    margin-top: 36vh;
    justify-content: flex-start;
    
}
    .computer2 {
    background: white;
    display: flex;
    flex-direction: space-between;
    

}
.computer2 img {
    display: flex;
    height: 300px;
    width: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    transition: all 0.5s;
}
.product-detail {
    background-color: whitesmoke;
    font-family: Calibri;
}



